<%- include('./components/header.ejs') %>

<body class="mb-48">


    <%- include('./components/nav.ejs') %>


    <main>
        <div class="mx-4">
            <div
                class="bg-gray-50 border border-gray-200 p-10 rounded max-w-lg mx-auto mt-24"
            >
                <header class="text-center">
                    <h2 class="text-2xl font-bold uppercase mb-1">
                        Edit Gig
                    </h2>
                    <p class="mb-4">Edit: <%= listing.jobTitle %></p>
                </header>

                <form action="/listing/edit" method="POST">
                    <div class="mb-6">
                        <label
                            for="company"
                            class="inline-block text-lg mb-2"
                            >Company Name</label
                        >
                        <input
                            type="text"
                            class="border border-gray-200 rounded p-2 w-full"
                            name="company"
                            value='<%=listing.company%>'
                        />
                    </div>

                    <div class="mb-6">
                        <label for="jobTitle" class="inline-block text-lg mb-2"
                            >Job Title</label
                        >
                        <input
                            type="text"
                            class="border border-gray-200 rounded p-2 w-full"
                            name="jobTitle"
                            placeholder="Example: Senior Laravel Developer"
                            value="<%= listing.jobTitle %>"
                        />
                    </div>

                    <div class="mb-6">
                        <label
                            for="jobLocation"
                            class="inline-block text-lg mb-2"
                            >Job Location</label
                        >
                        <input
                            type="text"
                            class="border border-gray-200 rounded p-2 w-full"
                            name="jobLocation"
                            placeholder="Example: Remote, Boston MA, etc"
                            value="<%= listing.jobLocation %>"
                        />
                    </div>

                    <div class="mb-6">
                        <label for="email" class="inline-block text-lg mb-2"
                            >Contact Email</label
                        >
                        <input
                            type="text"
                            class="border border-gray-200 rounded p-2 w-full"
                            name="contactEmail"
                            value="<%= listing.contactEmail %>"
                        />
                    </div>

                    <div class="mb-6">
                        <label
                            for="applicationURL"
                            class="inline-block text-lg mb-2"
                        >
                            Website/Application URL
                        </label>
                        <input
                            type="text"
                            class="border border-gray-200 rounded p-2 w-full"
                            name="applicationURL"
                            value="<%= listing.applicationJobURL %>"
                        />
                    </div>

                    <div class="mb-6">
                        <label for="jobTags" class="inline-block text-lg mb-2">
                            Tags (Comma Separated)
                        </label>
                        <input
                            type="text"
                            class="border border-gray-200 rounded p-2 w-full"
                            name="jobTags"
                            placeholder="Example: Laravel, Backend, Postgres, etc"
                            value="<%= listing.jobTags %>"
                        />
                    </div>

                    <div class="mb-6">
                        <label for="logo" class="inline-block text-lg mb-2">
                            Company Logo
                        </label>
                        <input
                        type="text"
                        class="border border-gray-200 rounded p-2 w-full"
                        name="logo"
                        value="<%= listing.jobLogo %>"
                    />
                    </div>

                    <div class="mb-6">
                        <label
                            for="jobDescription"
                            class="inline-block text-lg mb-2"
                        >
                            Job Description
                        </label>
                        <textarea
                            class="border border-gray-200 rounded p-2 w-full"
                            name="jobDescription"
                            rows="10"
                            placeholder="Include tasks, requirements, salary, etc"
                        >
                        <%= listing.jobDescription %></textarea
                        >
                    </div>

                    <div class="mb-6">
                        <button
                            class="bg-primary text-white rounded py-2 px-4 hover:bg-black text-lg"
                        >
                            Create Gig
                        </button>

                        <a href="/manage" class="text-black ml-4">
                            Back
                        </a>
                    </div>
                    <input type="hidden" name="listingId" value="<%=listing._id%>">
                </form>
            </div>
        </div>
    </main>